cache/
data/*
!data/.gitkeep
fonts/custom/*
!fonts/custom/.gitkeep
bambu-profiles/BBL/*
!bambu-profiles/BBL/.gitkeep
.env
.env.cloudflare
secrets/*
!secrets/README.txt
.DS_Store
npm-debug.log*
*.zip
node_modules/
dist/
.env.*
!.env.example
result.json
